.admin-wrapper {
  display: flex;
  min-height: 100vh;
  background: #f8fafc;
}

/* SIDEBAR */
.admin-sidebar {
  width: 260px;
  background: linear-gradient(180deg, #0f172a, #020617);
  color: white;
  transition: 0.4s;
  position: sticky;
  top: 0;
  height: 100vh;
  padding: 1rem;
}

.admin-wrapper.collapsed .admin-sidebar {
  width: 85px;
}

/* LOGO */
.admin-logo {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}

/* TOGGLE */
.sidebar-toggle {
  background: #1e293b;
  border: none;
  color: white;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: absolute;
  top: 1.2rem;
  right: -16px;
  cursor: pointer;
  z-index: 5;
}

/* USER */
.admin-user {
  background: rgba(255,255,255,0.05);
  padding: 0.8rem;
  border-radius: 10px;
  margin-bottom: 1.5rem;
}

.admin-user span {
  display: block;
  font-size: 0.75rem;
  color: #94a3b8;
}

/* LINKS */
.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.sidebar-menu a,
.logout-btn {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  padding: 0.7rem 0.8rem;
  border-radius: 10px;
  color: #cbd5e1;
  text-decoration: none;
  transition: 0.3s;
  background: transparent;
  border: none;
  cursor: pointer;
}

.sidebar-menu a:hover,
.logout-btn:hover {
  background: rgba(255,255,255,0.08);
  color: white;
}

.sidebar-menu a.active {
  background: var(--primary-gradient);
  color: white;
}

.logout-btn {
  margin-top: 1rem;
}

/* MENU TITLE */
.menu-title {
  padding: 0.6rem 0.4rem;
  color: #64748b;
  font-size: 0.7rem;
  letter-spacing: 1px;
}

/* ADMIN CONTENT */
.admin-content {
    flex: 1;
    padding: 2rem;
    overflow: auto;
    max-height: 100dvh;
}

/* COLLAPSED MODE */
.admin-wrapper.collapsed>span {
  display: none;
}

.admin-wrapper.collapsed .admin-user {
  display: none;
}

.admin-wrapper.collapsed .menu-title {
  display: none;
}

.admin-wrapper.collapsed .admin-sidebar {
  padding: 1rem 0.5rem;
}

.admin-wrapper.collapsed a,
.admin-wrapper.collapsed .logout-btn {
  justify-content: center;
}
